<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <header>
        <h1>New York Times <g class="r">®</g></h1>
        <br>
        <p class="best">Best Sellers</p>
    </header>
    <div class="container">
        <div class="modulo1">
            <h3>Conviertete en un "Pro-Player"</h3>
            <p>🔝 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora eligendi aut nihil ex iste, voluptas, eveniet unde recusandae vitae quo veritatis nemo doloribus. Aut quis, quae id natus dicta maxime.</p>
            <button>+ Info</button>
        </div>
        <div class="modulo2">
            <h3>Alcanza la gloria en COOPERATIVO</h3>
            <p>👫VS👫 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora eligendi aut nihil ex iste, voluptas, eveniet unde recusandae vitae quo veritatis nemo doloribus. Aut quis, quae id natus dicta maxime.</p>
            <button>+ Info</button>
        </div>
        <div class="modulo3">
            <h3>Conoce nuestros Bootcamps</h3>
            <p>🎪 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora eligendi aut nihil ex iste, voluptas, eveniet unde recusandae vitae quo veritatis nemo doloribus. Aut quis, quae id natus dicta maxime.</p>
            <button>+ Info</button>
        </div>
    </div>
</body>
</html>