header{
    background-color: black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-family: namata medium;
    font-size: 8vh;
    text-align: center;
    font-weight: 800;
}

.best{
    font-weight: 100;
    margin-top: 10px;
    font-size: 5vh;
    text-align: center;
    color: white;
    font-family: impact;
}

.container{
    flex-direction: column;
}

.modulo1 {
    flex-direction: column;
    width: 30px;
    height: 30px;
}

.modulo2 {
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 30px;
}

.modulo3 {
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 30px;
}

@media (max-width:414px){
    header{
    background-color: black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 20px;
    }
}
.r{
    font-size: 20px;
}